<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVT Fabricio Ojeda</title>
</head>
<body>
    <header>
        <h4>MVT de Fabricio Ojeda</h4>
        <h3>Ejercicio Clase 18</h3>
    </header>
    
        <ul>
            Familiar1 : {{ texto1 }}
        
        
            Familiar2 : {{ texto2 }}
        
        
            Familiar3 : {{ texto3 }}
        </ul>
        
</body>
</html>